.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        linear-gradient(217deg, #FD9346, #FDB777 70.71%)
}